@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
    --black:#171718;
    --black-border:#26292D;
    --white:#ffffff;
    --purple:#5C62EC;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent:var(--purple);
    --text-color: var(--black)

    /* light mode */

    --page-bg:var(--white);
    --text-color: var(--black);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
}

.dark {

    /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html, body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.5px;
    
    height: 100%;
    display: flex;
    flex-direction: column;

    /* light mode */

    background-color: var(--page-bg);
    color: var(--text-color);
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--header-text);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}

.dark-mode-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 51px;
    height: 26px;

    border-radius: 50px;
    background-color: #272727;

    order: 1;
}

.dark-mode-btn__icon {
    position: relative;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.3s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

/* Header */

.header {
    background-color: var(--dark-bg);
    color: var(--header-text);
    min-height: 695px;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url(/image/header.bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.header-wrapper {
    max-width: 680px;
    padding: 0 15px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    color: var(--purple);
    font-style: normal;
}

.header-text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}

.header-text p + p {
    margin-top: 0.5em;
}

/* button */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: white;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

/* btn-outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

/* General */

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
    letter-spacing: -0.5px;
}

.title-2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    max-height: 350px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 25px;
    line-height: 1.3;
    font-weight: 700;
    font-size: 24px;
    color: var(--project-card-text);
}

/* Project__details */

.project__details {
    max-width: 865px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project__details-cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project__ditails-desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}

/* Content-list */

.content-list {
    margin: 0 auto;
    max-width: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-list__item > p {
    margin-bottom: 40px;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item a {
    color: var(--accent);
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    background-color: var(--dark-bg);
    padding: 60px 0px 50px;
    color: var(--header-text);
    margin-top: auto;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social__item {
    column-gap: 30px;
    align-items: center;
    display: flex;
}

.copyright {
    font-size: 16px;
}

@media (max-width: 620px) {

    /* Header */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .title-2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    /* Project */

    .project__title {
        font-size: 21px;
    }

    /* Project-page */

    .project__ditails-desc {
        font-size: 21px;
    }

    /* Content-list*/

    .content-list__item > p {
        margin-bottom: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 15px;
    }

    .social__item a {
        width: 30px;
    }
}